@page
@model CMOC.Pages.Admin.Equipment.Upsert

<form method="post" enctype="multipart/form-data">
    <input asp-for="Equipment.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="col-9">
                <h2 class="text-primary pl-3">
                    @(Model.Equipment.Id == 0 ? "Create" : "Update") Equipment
                </h2>
                <hr/>
                <div class="mb-3 form-floating">
                    <select asp-for="@Model.Equipment.TypeId" asp-items="Model.EquipmentTypes" class="form-select">
                        <option disabled selected>Select Equipment Type</option>
                    </select>
                    <label asp-for="Equipment.TypeId">Type</label>
                    <span asp-validation-for="Equipment.TypeId" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating">
                    <input type="text" asp-for="@Model.Equipment.SerialNumber" class="form-control"/>
                    <label asp-for="Equipment.SerialNumber">Serial Number</label>
                    <span asp-validation-for="Equipment.SerialNumber" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating">
                    <select asp-for="@Model.Equipment.LocationId" asp-items="Model.Locations" class="form-select">
                        <option disabled selected>Select Location</option>
                    </select>
                    <label asp-for="Equipment.LocationId">Location</label>
                    <span asp-validation-for="Equipment.LocationId" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating">
                    <textarea type="text" asp-for="@Model.Equipment.Notes" class="form-control" style="height: 8em"></textarea>
                    <label asp-for="Equipment.Notes">Notes</label>
                    <span asp-validation-for="Equipment.Notes" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating">
                    <span>component mods here</span>
                </div>
                <div class="mb-3">
                    <span>Services Supported:</span>
                    <ul>
                        @for (var i = 0; i < Model.SupportedServices.Count; i++)
                        {
                            <li class="form-check form-switch">
                                <input type="hidden" asp-for="SupportedServices[i].Value"/>
                                <input class="form-check-input" type="checkbox" role="switch" id="service_@i" asp-for="SupportedServices[i].Checked"/>
                                <label class="form-check-label" for="service_@i">@Model.SupportedServices[i].Text</label>
                            </li>
                        }
                    </ul>
                </div>
                <div class="mb-3">
                    <div class="col-7">

                    </div>
                    <div class="col-2">
                        <button class="btn"></button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row pb-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTypeDialog">
                        Add new equipment type
                    </button>
                </div>
            </div>
        </div>
        @if (Model.Equipment.Id == 0)
        {
            <button type="submit" class="btn btn-primary" style="width: 150px;">Create</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary" style="width: 150px;">Update</button>
        }
        <a asp-page="/Admin/Equipment/Index" class="btn btn-secondary" style="width: 150px;">Back to List</a>
    </div>
</form>
<div class="modal" tabindex="-1" id="newTypeDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="newTypeForm">
                <div class="modal-header">
                    <h5 class="modal-title">New Equipment Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="typeName">New Type Name</label>
                        <input type="text" id="typeName" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="saveType">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/UpsertEquipment.js"></script>
}